.projectBanner{
    height:20vh;
    width: 100%;
    text-align:center;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    grid-gap:-50px;
    font-size: 40px;
    font-weight: 400;
    /* color: black; */
    
}
.projectBanner p{
    color:#ff006d
}
.projectBanner h3{
    margin:0 auto; 
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    /* width: fit-content; */
    
}
h3{
    color: #ff006d;

}

.toi{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    width: 90%;
    /* border: 1px solid black; */
    margin: 5% auto;
    grid-gap : 5%;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background-color: #f8f0da; */
    padding: 20px;
    /* box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 5px 15px 5px #bbbbbb;

}

.toi>div{
    /* border: 1px solid black; */
    width: 100%;
}

.toi>div:nth-of-type(1){
    /* border: 1px solid black; */
    /* background-color: #fdf4da; */
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
 
}

.toi>div:nth-of-type(2){
    /* border: 1px solid red; */
    width: 100%;

 
}

.toi>div:nth-of-type(2):hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
   
}
.toi img{
    width: 100%;
    height: 50vh;
    /* border: 1px solid black; */
}
.toi img:hover{
    /* -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2); */
    transform: scale(1.1); 
    /* will-change: transform; */
    /* transform: perspective(400px) rotateX(20deg) ; */
    box-shadow: 0px 0px 15px 15px #c5c5c5;
    transition: transform 330ms ease-in-out;


  }
  .box {
    transition: transform 330ms ease-in-out;
}

.toi h1{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    color: rgb(65, 11, 1);
}



.toi button{
    border: none;
    border : 2px solid #ff006d;
    background-color: white;
    padding: 2.5%;
    margin: 2%;
    /* width: 20%; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.toi button a{
    color: black;
    text-decoration: none;
}

.toi button:nth-of-type(2) a{
    color: white;
    text-decoration: none;
}

.toi button:nth-of-type(even){
 
   background-color: #ff006d;
   border: none;
   color: white;
}

.toi button:hover{
   /* background-color: orange; */
   /* color: white; */
    transform: scale(1.1); 
    box-shadow: 3px 0px 15px 2px #fcfafa;
    transition: transform 330ms ease-in-out;
}

@media only screen and (min-width: 1200px) {

    .toi img{
        width: 97%;
        height: 45vh;
    }
    
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .toi img{
        width: 98%;
        height: 35vh;
    }

    .toi li{
        font-size: 15px;
    }
}

@media only screen and (min-width: 790px) and (max-width: 991px) {

    .toi{
        grid-template-columns: 50% 45%;
    }

    .toi h1{
       font-size: 20px;
    }
    
    .toi img{
        width: 99%;
        height: 27vh;
    }

    .toi li{
        font-size: 13px;
    }
}


@media only screen and (min-width : 600px) and  (max-width: 789px){
    .projectBanner{
       
        text-align:left;
        
    }

    .projectBanner h1{
        font-size: 35px;
        /* background-color: black; */
    }
    .toi{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        width: 80%;
        grid-gap : 0%;
    
    }
    
    .toi>div:nth-of-type(2){
        /* border: 1px solid red; */
        width: 100%;
        margin: 0 auto;
    
     
    }
    .toi img{
        width: 85%;
        height: 250px;
        margin: 1% auto;
        
    }
}



@media only screen and (max-width: 600px){
    .projectBanner{
       
        text-align:left;
        
    }

    .projectBanner h1{
        font-size: 35px;
        /* background-color: black; */
    }
    .toi{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        width: 80%;
        grid-gap : 0%;

    }

    .toi h1{
        font-size: 20px;
    }
    .toi>div:nth-of-type(2){
        /* border: 1px solid red; */
        width: 100%;
        margin: 0 auto;
    
     
    }
    .toi img{
        width: 100%;
        height: 270px;
        margin: 1% auto;
        
    }
    .toi li{
        font-size: 12px;
    }

 
}

@media only screen and (max-width: 460px){
    .toi img{
        width: 100%;
        height: 150px;
        margin: 1% auto;
        
    }
}